/.idea/
/FfsScheduleParserTests/bin/
/FfsScheduleParserTests/obj/Debug/
/FfsScheduleParser/bin/
/FfsScheduleParser/obj/
/FfsScheduleParserTests/obj/
/FfsScheduleParser.sln.DotSettings.user
/FfsScheduleParser/FfsScheduleParser.csproj.DotSettings
