<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="UrlForSessionRequest" value="http://web9.myjino.ru/assets/tr_info/tr_info.json" />
        <add key="Simulators"
             value="FFS Airbus 321,FFS Airbus 322,FFS Boeing 737,FFS Embraer 170,FTD Boeing 737,FTD Airbus 320" />
        <add key="FFS Airbus 321" value="A321" />
        <add key="FFS Airbus 322" value="A322" />
        <add key="FFS Boeing 737" value="B737" />
        <add key="FFS Embraer 170" value="E170" />
        <add key="FTD Boeing 737" value="FtdB737" />
        <add key="FTD Airbus 320" value="FtdA320" />
        <add key="CsvStatisticFilePath" value="T:\ООО С 7 ИНВЕСТ\Отдел ЭТ\03_Эксплуатационная документация\VbaAutomationRubtsov\ArincMetrics\ArincMetrics.csv" />
        <add key="A321LogsFilePath" value="T:\ООО С 7 ИНВЕСТ\Отдел ЭТ\03_Эксплуатационная документация\VbaAutomationRubtsov\SessionsInfo\A321Logs.csv" />
        <add key="A322LogsFilePath" value="T:\ООО С 7 ИНВЕСТ\Отдел ЭТ\03_Эксплуатационная документация\VbaAutomationRubtsov\SessionsInfo\A322Logs.csv" />
        <add key="B737LogsFilePath" value="T:\ООО С 7 ИНВЕСТ\Отдел ЭТ\03_Эксплуатационная документация\VbaAutomationRubtsov\SessionsInfo\B737Logs.csv" />
        <add key="E170LogsFilePath" value="T:\ООО С 7 ИНВЕСТ\Отдел ЭТ\03_Эксплуатационная документация\VbaAutomationRubtsov\SessionsInfo\E170Logs.csv" />
        <add key="FtdB737LogsFilePath" value="T:\ООО С 7 ИНВЕСТ\Отдел ЭТ\03_Эксплуатационная документация\VbaAutomationRubtsov\SessionsInfo\FtdB737Logs.csv" />
        <add key="FtdA320LogsFilePath" value="T:\ООО С 7 ИНВЕСТ\Отдел ЭТ\03_Эксплуатационная документация\VbaAutomationRubtsov\SessionsInfo\FtdA320Logs.csv" />
        <add key="CsvTimeSpanFormat" value="hh\:mm" />
        <add key="CsvLogDateFormat" value="dd.MM.yy" />
        <add key="ShiftStartTime" value="8:00" />
        <add key="ShiftLength" value="1" />
    </appSettings>
</configuration>
