<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="UrlForSessionRequest" value="http://web9.myjino.ru/assets/tr_info/tr_info.json" />
        <add key="Simulators"
             value="FFS Airbus 321,FFS Airbus 322,FFS Boeing 737,FFS Embraer 170,FTD Boeing 737,FTD Airbus 320" />
        <add key="FFS Airbus 321" value="A321" />
        <add key="FFS Airbus 322" value="A322" />
        <add key="FFS Boeing 737" value="B737" />
        <add key="FFS Embraer 170" value="E170" />
        <add key="FTD Boeing 737" value="FtdB737" />
        <add key="FTD Airbus 320" value="FtdA320" />
        <add key="CsvFilePath" value="C:\Users\r.rubtsov\Desktop\test.csv" />
        <add key="CsvTimeFormat" value="hh\:mm" />
        <add key="ShiftStartTime" value="8:00" />
        <add key="ShiftLength" value="1" />
    </appSettings>
</configuration>
